<template>
  <div class="favorite">
    <div class="logo">
        Dolani Football LiveScores
    </div>
    <div class="menu">
      <router-link to="league" class="leagues">LEAGUES</router-link>
      <router-link to="live" class="games">GAMES</router-link>
      <router-link to="favorite" class="favorites">FAVORITES</router-link>
    </div>
      <div class="wrapper">
        this page shows all your favorites
      </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
  name: 'live',
  data () {
    return {
      results: []
    }
  },

  mounted(){
    axios.get("http://livescore-api.com/api-client/scores/live.json?key=ywzRLq6V7V02DcyT&secret=IUD9ZBABXvlsC4faBO2nf8im3jpHvXAd")
    .then(response => 
    {
      this.results = response.data.data.match
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  

.menu {
    background-color: #004C8F;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu .leagues {
    color:thistle;
    cursor: pointer;
    text-decoration: none;

  }

  .menu .games {
    color:thistle;
    cursor: pointer;
    text-decoration: none;
  }

  .menu .favorites {
    color:white;
    cursor: pointer;
    text-decoration: none;
  } 
 
</style>
