<template>
  <div class="live">
    <div class="logo">
        Dolani Football LiveScores
    </div>
    <div class="menu">
      <router-link to="league" class="leagues">LEAGUES</router-link>
      <router-link to="live" class="games">GAMES</router-link>
      <router-link to="favorite" class="favorites">FAVORITES</router-link>
    </div>
    <div class="wrapper">
      
    <div class="top">Live</div>

      <div class="container">
        <div class="row">
          <div class="new col-md-12" v-for="result in results">
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    {{result.added}}
                  </div>
                  <div class="col-md-12">
                    {{result.time}}
                  </div>
                </div>
              </div>
              <div class="col-md-5">{{result.home_name}}  vs  {{result.away_name}}</div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    {{result.score}}
                  </div>
                  <div class="col-md-12">
                    
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div> <!-- wrapper ends here -->
  </div>
</template>

<script>
  import axios from 'axios';
  
  export default {
  name: 'live',
  data () {
    return {
      results: []
    }
  },

  mounted(){
    axios.get("http://livescore-api.com/api-client/scores/live.json?key=ywzRLq6V7V02DcyT&secret=IUD9ZBABXvlsC4faBO2nf8im3jpHvXAd")
    .then(response =>
        {
                this.results = response.data.data.match
        })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.top {
  border:1px;
  margin-bottom:20px;
  padding-left: 10px;
  background-color: grey;
  text-align: left;
  color:black;
}


.menu {
    background-color: #004C8F;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu .leagues {
    color:thistle;
    cursor: pointer;
    text-decoration: none;

  }

  .menu .games {
    color:white;
    cursor: pointer;
    text-decoration: none;
  }

  .menu .favorites {
    color:thistle;
    cursor: pointer;
    text-decoration: none;
  } 
  
</style>
