<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.logo {
  background-color: #0057A3;
  color: #FFFFFF;
  text-align: left;
  padding: 10px 35px 10px 50px;
}
.wrapper {
	height: 500px;
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.rowing {
  border: 1px solid grey;
}

ul, li {
  list-style-type: none;
  justify-content: space-around;
}
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
  }
} 

</style>
